/********************
 * FEATURE CAROUSEL *
 ********************/
#featureCarousel {
    height: 380px;
    width:750px;
	max-width:100%;
    position:relative;
	margin:0 auto;
}
#featureCarousel img {
    border:0;
	max-height:100%;
}
#featureCarousel .feature {
    position:absolute;
    border:3px solid white;
    cursor:pointer;
	box-shadow:0px 0px 80px #fff;
}
#featureCarousel .feature .feature-intro{
	color:#fff;
}
#featureCarousel .feature .feature-intro {
	margin-top:.3em;
    width:100%;
}
#featureCarousel .feature .feature-dream{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,.4);
	box-sizing:border-box;
	padding:2em 0;
}
#featureCarousel .feature .feature-intro h1,
#featureCarousel .feature .feature-intro h2{
	color:#000;
	font-size:1.2em;
}
#featureCarousel .feature .feature-intro h2{
	margin-bottom:.2em;
}
#featureCarousel .feature .feature-intro p {
    margin:0;
    font-size:1em;
}
#featureCarousel .blipsContainer {
    position:absolute;
    color:white;
    right:25px;
    top:210px;
    padding:0;
    margin:0;
}
#featureCarousel .blipsContainer .blip {
    margin:3px;
    height:14px;
    width:14px;
    color:white;
    text-align:center;
    font-size:10px;
    border:1px dotted black;
}
#featureCarousel .blipsContainer .blipSelected {
    color:white;
    font-weight:bold;
    background-color:black;
}