/* 
 *author:x.king
 *date:2015/03/09
 */

 /* 开发运营 cont*/
.banner-cont1{
	background:#F4FFF6;
}
.page-cont-title{
	text-align:center;
	padding:1em 0;
}
.page-cont-title h2{
	font-size:36px;
	color:#2B4700;
}
.page-cont-title h3{
	font-size:30px;
	color:#583819;
}
.page-cont-title span{
	display:block;
	width:100%;
	height:2px;
	background:#7C7C7C;
	margin:1em auto;
}
.page-cont-title p{
	color:#595757;
	line-height:2.4em;
	font-size:14px;
}
.page-cont-title p em{
	color:#DD0101;
}
.cont-banner .cont-top-part{
	padding:4em 0;
}
.cont-banner .cont-top-part p{
	color:#583819;
}

.cont-project-bg{
	padding:4em 0;
	background:#F4FFF6;
}
.cont-white-bg{
	padding:4em 0;
	background:#fff;
}
.cont-green-bg{
	padding:4em 0;
	background:#F4FFF6;
}
.cont-project-lists{
	text-align:center;
	margin-top:4em;
}
.cont-project-cen img{
	border-radius:50%;
	border:8px solid #FA6319;
}
.cont-project-lists > div{
	margin:2em 0;
}
.cont-project-lists i{
	display:block;
	width:158px;
	height:158px;
	background:url(https://dn-vcan.qbox.me/static/images/icon/cont-lists-is.png);
	margin:0 auto;
	margin-bottom:2em;
}
.cont-project-lists .list-icon2{background-position:-160px 0;}
.cont-project-lists .list-icon3{background-position:-320px 0;}
.cont-project-lists .list-icon4{background-position:-480px -1px;}
.cont-project-lists div h2{
	font-size:14px;
	color:#333;
}
.cont-project-lists div p{
	font-size:24px;
	color:#000;
}

.cont-show-bg{
	padding:2em 0 4em 0;
	background:#F4FFF6;
}
.cont-img-lists{
	margin-left:-1%;
}
.cont-img-lists li{
	float:left;
	margin-left:1%;
	margin-top:.6em;
}
.cont-img-lists .width-01{
	width:49%;
}
.cont-img-lists .width-02{
	width:24%;
}
.cont-show .cont-img-lists{
	margin-bottom:.8em;
}

.cont-feature-bg{
	padding:4em 0;
	background:#F4FFF6;
}

/* cont2 */
.bottom-border{
	border-bottom:1px solid #666;
}
.traits-part h3{
	text-align:center;
	color:#000;
	font-weight:bold;
}
.traits-part p{
	margin:1em auto;
	text-indent:1em;
	color:#666;
}
.traits-img-center{
	text-align:center;
	margin:4em auto;
}
.bg-img-2-3{
	max-width:965px;
	height:490px;
	background:url(https://dn-vcan.qbox.me/static/images/cont-img-2-3.jpg);
	background-size:cover;
}
.bg-img-2-4{
	max-width:1230px;
	height:1200px;
	background:url(https://dn-vcan.qbox.me/static/images/cont-img-2-4.jpg);
	background-size:cover;
}
.bg-img-3-1{
	max-width:988px;
	height:620px;
	background:url(https://dn-vcan.qbox.me/static/images/cont-img-3-1.jpg);
	background-size:cover;
}
.bg-img-4-1{
	max-width:1230px;
	height:1900px;
	background:url(https://dn-vcan.qbox.me/static/images/cont-img-4-1.jpg);
	background-size:cover;
}

.traits-text-part{
	text-align:center;
	margin-top:1em;
}
.traits-text-part em{
	padding:.3em 2em;
	border:2px solid #DD0101;
	border-radius:.3rem;
	font-size:18px;
	color:#DD0101;
}
.traits-text-part ul{
	margin-top:1em;
}
.traits-text-part li{
	line-height:1.8em;
	color:#3a3a3a;
}

/* ---------------------------------后期修改 */
.cont-top-part2 h2{
	color:#583819;
}
.banner-cont1.banner-cont3{
	background:#fff;
}
.cont-top-part.cont-top-part3 h2{
	color:#982D2D;
}